body{
  background-color: whitesmoke;
  margin: 0 auto;     
}


h1{
 color:black;
 font-family:"Palatino Linotype", Palatino, serif;
 font-size: 32px;
 font-weight:0;
 text-transform: uppercase;
 text-align:right;
 margin:3% 20% 1% 2%;
}


h2{
    
 color:gray;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 15px;
 font-weight:0; 
 margin:3% 20% 1% 10%;
    
}

h3{
    
 color:dimgrey;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 20px;
 font-weight:0; 
 margin:3% 10%;   
    
}

ul { 
    list-style-type: none;
    margin:0;
    overflow: hidden;
}

li {
    float: left;
}

li a{
    color:grey;
    font-size: 20px;
    display: block;
    padding: 5% 30px;
    background-color: white; 
    text-decoration: none;     
}

p{
    
 color:black;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 15px;
 font-weight:0;
 text-align:left;
 margin:3% 10%;   
    
}

figure.videostyle
{
    margin: 100px 4%;
    float: right;
}

