body{
  background-color: whitesmoke;
  margin: 0 auto;     
}

h1{
 color:white;
 font-family:"Palatino Linotype", Palatino, serif;
 font-size: 32px;
 font-weight:0;
 text-transform: uppercase;
 text-align:center;
 margin:auto;
}


h2{
 text-align:center; 
 color:gray;
 font-family:"Palatino Linotype", Palatino, serif;
 font-size: 15px;
 font-weight:0; 
 margin:3% 20% 1% 10%;
    
}

h3{
 text-align:center;  
 color:grey;
 font-family:"Palatino Linotype", Palatino, serif;
 font-size: 20px;
 font-weight:0; 
 margin:3% 10%;   
    
}

p{
    
 text-align:center;  
 color:dimgrey;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 15px;
 font-weight:0; 
 margin:3% 10%;      
    padding:0 20%;
    
    
}

/*
.nav{
    display: nav;
    margin: 0 auto;
    
}
*/

ul { 
    text-align: center; 
    list-style-type: none;
    margin: 0;
    padding:0;
    
    
}

li {
   display: inline;
}

li a{
    color:grey;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    display: inline-block;
    padding: 5% 30px;
    text-decoration: none;     
}

a:visited{
    color:dimgrey;      
}


a:hover{
    color:white;      
}


.videostyle
{  
    text-align: center; 
    display: block;
    margin:0;
    padding:20px 10px;
}

/*
.center{
    margin:0;
    padding:30px;
}
*/

.cover{
    position:relative;
    text-align: center; 
    display: block;
    margin:0;  
}

.ontop{
    color:white;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 32px;
    font-weight:0;
    text-transform: uppercase;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);  
}

.ontopo{
    color:white;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:0;
    text-transform: uppercase;
    position:absolute;
    top:48%;
    left:52%;
    transform: translate(-50%,-50%); 
}
